@media screen and (min-width: 430px) {
    main #main {
        width: 40%;
        margin: auto;
        margin-top: 5px;
    }
    #news-area {
        border: 3px solid red;
        background-color: lightcoral;
        border-radius: 10px;
    }
    .news h2 {
        font-size: 1.2em;
        color: crimson;
        border-bottom: dotted 1px darkred;
        border-top: solid 3px red;
        padding: 5px;
    }
    #news-area p {
        padding: 5px;
    }
    .date {
        font-size: 0.8em;
        text-align: right;
        border-top: 1px dotted darkred;
    }
}

/* スマホ用 */
@media screen and (max-width: 430px) {
    #main {
        width: 95%;
        margin: auto;
        margin-top: 5px;
    }
    #news-area {
        margin: auto;
        border: 3px solid red;
        background-color: lightcoral;
        border-radius: 10px;
    }
    .news h2 {
        font-size: 1.2em;
        color: crimson;
        border-top: solid 3px red;
        border-bottom: dotted 1px darkred;
        padding: 5px;
    }
    #news-area p {
        padding: 5px;
    }
    .date {
        font-size: 0.8em;
        text-align: right;
        border-top: dotted 1px darkred;
    }
}