---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/about.css";
---

<BaseLayout
    pageTitle="サイト説明 | ラッピヤード（奏色瑠璃）"
    description="このサイトはゲーム制作者兼CG制作者の奏色瑠璃のホームページです。このページではこのサイトの説明と管理人のあいさつを公開しています。"
>
    <h1>サイト・キャラ設定の説明</h1>
    <div id="about">
        <h2>このサイトについて</h2>
        <p>
            このサイトは奏色瑠璃（かないろるり）のホームページです．<br />
            CG作ったりそれ使ってゲーム作ったりします．<br />
            作ったものを適当にアップしたりブログ書いたりしていきます．<br/>
            何か御用の方はCONTACTを押したらGoogleForm開くので使ってください．<br/>
            それではゆっくり見ていってね！
        </p>
    </div>
    <div id="characters">
        <h2>キャラ紹介</h2>
        <div id="rune">
            <h3>瑠音</h3>
            <div class="charDesc">
                <img src="/img/rune.png" alt="瑠音の写真">
                <p>
                    奏色瑠音（かないろるね）．<br />
                    青を基調に，サイバーをイメージしたキャラ．<br />
                    非常にクールで頭脳明晰．情報処理が得意．<br />
                    DJとして影からみんなを支える．
                </p>
            </div>
        </div>
        <div id="ruka">
            <h3>瑠歌</h3>
            <div class="charDesc">
                <img src="/img/ruka.png" alt="瑠歌の写真">
                <p>
                    奏色瑠歌（かないろるか）．<br />
                    赤を基調に，パンクをイメージしたキャラ．<br />
                    クールなお姐さん系．チームの先導が得意．<br />
                    力強いビートは聴く者を元気づける．
                </p>
            </div>
        </div>
        <div id="rura">
            <h3>瑠楽</h3>
            <div class="charDesc">
                <img src="/img/rura.png" alt="瑠楽の写真">
                <p>
                    奏色瑠楽（かないろるら）．<br />
                    黄色を基調に，アイドルポップをイメージ．<br />
                    キュートで天真爛漫．ヒーラーポジション．<br />
                    彼女の歌声は聴く者を前向きにする．
                </p>
            </div>
        </div>
    </div>
</BaseLayout>
